
@tailwind utilities;
@import "tailwindcss";
@plugin "tailwindcss-animate";
/*@tailwind base;*/
/* @tailwind components;*/

:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #0a0a0a; /* or remove and set via Tailwind on your layout */
  color: white;
}